
<div class="main-background dashboard-background">
    <div ng-controller="mainController" class="wrapper">
      <nav-bar-logged-in></nav-bar-logged-in>
              <div class="container recent-jobs-2">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-6 card">
                    <div class="row title-wrapper">
                      <h2 style="padding-right:5%;padding-left:5%;line-height:35px;">We need a proper person to help us with translating few documents.</h2>
                    </div>
                    <div class="section-wrapper recent-jobs-wrapper">

                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../images/user1.png" width="64" height="64" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Muazzam Ali</h4>
                            Hey, can anyone help me translate a document from german to english. I need help urgently.
                            <div class="tags">
                                <a href="#/dashboardaa" class="tag pull-left">Document</a>
                                <a href="#/dashboardaa" class="tag pull-left margin">Translation</a>
                            </div>
                          </div>
                        </div>
                    </div>

                      <div class="row">
                        <div class="col-lg-12"><h2>Comments:</h2></div>

                        <div class="row">
                          <div class="col-lg-12">

                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="../images/user1.png" width="64" height="64" alt="...">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">Amanullah Tariq</h4>
                                  Hey, I can help you with your work...
                                  <div class="tags">
                                      <a href="#/dashboardaa"  class="tag pull-left btn btn-success">Approve</a>
                                      <a href="#/dashboardaa" style="margin-left:1%;" class="tag pull-left margin btn btn-danger">Reject</a>
                                  </div>
                                </div>
                              </div>

         
                          </div>
                        </div>
                          <div class="section-wrapper recent-jobs-wrapper2">
                            </div>
                    </div>
                </div>

            </div>
            </div>
        </div>

  </div>
</div>