<div class="main-background">
    <div ng-controller="mainController" class="wrapper">
        <nav-bar></nav-bar>

        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-6 card">
                    <div class="section-wrapper">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="title">Looking for help ? </div>
                        <div style="clear:both"></div>
                        <div class="row bottom-line">
                            <div class="col-lg-4 info-tile">
                                <div class="wrapper theme-1">
                                    <div class="text-center"><img src="../../res/icons/android/icon-96-xhdpi.png" /></div>
                                    <h4 class="text-center">Write a request</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 info-tile">
                                <div class="wrapper theme-2">
                                    <div class="text-center"><img src="../../res/icons/android/icon-96-xhdpi.png" /></div>
                                    <h4 class="text-center">Write a request</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 info-tile ">
                                <div class="wrapper theme-3">
                                    <div class="text-center"><img src="../../res/icons/android/icon-96-xhdpi.png" /></div>
                                    <h4 class="text-center">Write a request</h4>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section-wrapper">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="title">Looking for Jobs ? </div>
                        <div style="clear:both"></div>
                        <div class="row">
                            <div class="col-lg-4 info-tile">
                                <div class="wrapper theme-1">
                                    <div class="text-center"><img src="../../res/icons/android/icon-96-xhdpi.png" /></div>
                                    <h4 class="text-center">Write a request</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 info-tile">
                                <div class="wrapper theme-2">
                                    <div class="text-center"><img src="../../res/icons/android/icon-96-xhdpi.png" /></div>
                                    <h4 class="text-center">Write a request</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 info-tile ">
                                <div class="wrapper theme-3">
                                    <div class="text-center"><img src="../../res/icons/android/icon-96-xhdpi.png" /></div>
                                    <h4 class="text-center">Write a request</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-wrapper">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>