<div class="main-background shop-background">
    <div ng-controller="shopController" class="wrapper">
       
         <nav-bar-logged-in></nav-bar-logged-in>

    <div class="col-ld-8 shop-wrapper">
            <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">Pizza Hut</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert1.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">Pizza Hut</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4 col-lg-4 col-md-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert2.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">Pizza Hut</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                   </div>

                   <div  class="score-section">
                       <img src="images/gem.png" alt="points" width="32px" /> 
                       <span p style="font-size:24px">1000 Points remaining </span>
                   </div>

                   

                </div>
        </div>
        
    </div>
</div>