<div class="main-background dashboard-background">
    <div ng-controller="shopController" class="wrapper">
       
         <nav-bar></nav-bar>
 <div class="col-md-3">
                  
            </div>
<div class="col-md-9">
        <div class="row carousel-holder" style="padding:2%">
            <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item">
                                    <img class="slide-image" src="../images/largeadvert.png" alt="">
                                </div>
                                <div class="item active">
                                    <img class="slide-image" src="../images/largeadvert1.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="../images/largeadvert2.png" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
        
      </div>
        
</div>
    </div>

    <div class="col-ld-8" style="padding:10px;">
            <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../images/smalladvert.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">Pizza Hut</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../images/smalladvert1.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">65 points</h4>
                                <h4><a href="#">Jack & Jones</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                             <img src="../images/smalladvert2.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">75 points</h4>
                                <h4><a href="#">Johnny Rocket</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                   <div  style="background-color:#ffffff;position: fixed;right:0; bottom:0">
                    <div class="sidebar-module">
                   <score></score>  
                   </div>
            </div>

                   

                </div>
        </div>
        
    </div>
</div>