<div class="main-background shop-background">
    <div ng-controller="shopController" class="wrapper">
       
         <nav-bar-logged-in></nav-bar-logged-in>

    <div class="col-ld-8 shop-wrapper">
            <div class="row">
                 
                    <div class="col-lm-4 col-lg-4 col-ld-4 shop-tile ">
                        <div class="thumbnail" data-toggle="modal" data-target="#buyModal">
                            <img src="../images/smalladvert5.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">Coffee Shop</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">25 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lm-4 col-lg-4 col-ld-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert1.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">100 points</h4>
                                <h4><a href="#">H&M</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">7 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lm-4 col-lg-4 col-ld-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert2.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">60 points</h4>
                                <h4><a href="#">Johnny Rockets</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                   </div>
                   </div>
   <div class="row">
                   <div class="col-lm-4 col-lg-4 col-ld-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert3.png" alt="" width="500px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">200 points</h4>
                                <h4><a href="#">APPTHA</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                   </div>

                   <div class="col-sm-4 col-lg-4 col-md-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert4.png" alt=""  height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">MCDONALD</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                   </div>

                   <div class="col-sm-4 col-lg-4 col-md-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert1.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">C&A</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                   </div>
   </div>
   <div class="row">
                   <div class="col-sm-4 col-lg-4 col-md-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert2.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">Johnny Rocket</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                   </div>

                   <div class="col-sm-4 col-lg-4 col-md-4 shop-tile ">
                        <div class="thumbnail">
                            <img src="../images/smalladvert5.png" alt="" width="320px" height="150px">
                            <div class="caption">
                                <h4 class="pull-right">40 points</h4>
                                <h4><a href="#">Coffe Shop</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">100 remaining</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                   </div>



                 
               

                   <div  class="score-section">
                       <img src="images/gem.png" alt="points" width="32px" /> 
                       <span p style="font-size:24px" id="score">1000 Points remaining </span>
                   </div>

                   

                </div>
        </div>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        Are you sure you want to buy this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="buyItem()" data-dismiss="modal" data-toggle="modal" data-target="#printModal">Buy</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
       <center> <img src="../images/neulingo-coupon.jpg" width="380px" height="480px"/></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Print</button>
      </div>
    </div>
  </div>
</div>

<script>
function buyItem() {
    document.getElementById("score").innerHTML = "960 Points remaining";
}
</script>