html, body{
  height: 100%;
  background-color: #ecf0f1 !important;
}

body .main-background{
}

body .main-background .wrapper .login-wrapper{
  background-color: #ffffff;
  border-radius: 7px; 
  margin-top: 6%;
  padding: 3%;
}
body .main-background .wrapper .login-wrapper .elastic{
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
  margin-left: 8%;
  margin-top: 10%;
  font-size: 15px;
}


body .main-background .wrapper .login-wrapper .loginButton{
  background-color: #20a533;
  color: #ffffff;
  font-size: 16px;
  margin-top: 10%;
  margin-left: 19%;
  border: none;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
  color: #ffffff !important;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #ffffff!important;
}
.navbar-default .navbar-toggle{
  border-color: #ffffff!important;
}

.navbar.navbar-default,
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background-color: #20a533;
  color: #ffffff;
}