body {
  padding-top:30px;
  .main-background{
    &.dashboard-background{
    background-color: $page-background  !important;
      .wrapper{
        .container{
          .row{
            .profile{
              background-color: #ffffff;
              .sidebar-module{
                .profile-details{  
                  .name{
                   font-size: 24px;
                   color: $dark-font;
                  }
                   .tags{
                     .margin{
                           margin-top: 1%;
                            margin-bottom: 3%;
                            padding: 3px 6px;
                      }
                   }
                }
              }
            }


          }
        }
      }
    }
  }
}
