
$theme-color: #20a533;
$page-background: #ecf0f1;

$white: #ffffff;

$dark-grey: #ccc;
$black: #000000;

$dark-font: #263A37;
$font-link: #3E4943;

$theme-1: #4D9E7D;
$theme-2: #82BF84;
$theme-3: #58BC8E;