html, body{
  height: 100%;
  background-color: $page-background  !important;
  font-family: Brown;
}

body {

  .main-background{
    .container{
      .row{

        .card{
          background-color: $white;
          padding: 4%;
          border-radius: 5px;

          .glyphicon{
              font-size: 15px;
              color: $dark-font;
              border-radius: 15px;
              border: 2px solid $dark-font;
              padding: 1%;
              float: left;
          }

          .title{
            font-size: 24px;
            color: $dark-font;
            margin-top: -1px;
            margin-left: 13px;
            float: left;
          }
        }
      }
    }
  }

  .wrapper{

      .login-wrapper{

        background-color: $white;
        border-radius: 7px; 
        margin-top: 6%;
        padding: 3%;


        .elastic{
          border-bottom: 1px solid $dark-grey;
          border-top: none;
          border-left: none;
          border-right: none;
          width: 80%;
          margin-left: 8%;
          margin-top: 10%;
          font-size: 15px;
        }


        .loginButton{

          background-color: #20a533;
          color: #ffffff;
          font-size: 16px;
          margin-top: 10%;
          margin-left: 19%;
          border: none;
          padding-left: 20%;
          padding-right: 20%;
          padding-top: 3%;
          padding-bottom: 3%;
        }
      }
  }

}






.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
  color: $white !important;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover
{
  font-style: underline;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: $white !important;
}
.navbar-default .navbar-toggle{
  border-color: $white !important;
}

.navbar.navbar-default,
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background-color: $theme-color;
  color: $white;
}