<div class="col-lg-offset-1 col-lg-4 sidebar-offcanvas sidebar-module sidebar-module-inset heroboard" style="margin-left:55%;position:fixed;" id="sidebar">
    <div class="sidebar-module">
                        <div class="list-group">
                           <h4 class="title">Hero Board</h4>
                                <div class="media" >
                                    <div class="media-left">
                                        <a href="#">
                                        <img class="media-object" src="images/user1.png" alt="..." width="64" height="64">
                                        
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Batman Ali</h4>
                                        Freiburg, Germany
                                        <p> 
                                            <img src="images/star.png" alt="Mountain View" >
                                            <img src="images/star.png" alt="Mountain View" >
                                            <img src="images/star.png" alt="Mountain View" >
                                            <img src="images/star.png" alt="Mountain View" >
                                            <img src="images/star.png" alt="Mountain View" >
                                        </p>
                                        <div class="tags">
                                            <div class="tag pull-left">students</div> 
                                            <div class="tag pull-left margin">freiburg</div> 
                                            <div class="tag pull-left margin">newcomer</div>
                                            <div class="tag pull-left margin">sports</div>
                                       </div>
                                       
                                    </div>
                                </div>
                    
     
                            <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                        <img class="media-object" src="images/user5.png" alt="..." width="64" height="64">
                                        
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">John Snow</h4>
                                        Berlin, Germany
                                          <p> 
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                     </p>
                                        <div class="tags">
                                            <div class="tag pull-left">refugee</div> 
                                            <div class="tag pull-left margin">arabic</div> 
                                            <div class="tag pull-left margin">newcomer</div>
                                            <div class="tag pull-left margin">sports</div>
                                       </div>
                                    </div>
                                </div>
                           <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                        <img class="media-object" src="images/user3.png" alt="..." width="64" height="64">
                                        
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Laura Banson</h4>
                                         Munich, Germany
                                          <p> 
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                     </p>
                                     <div class="tags">
                                            <div class="tag pull-left">students</div> 
                                            <div class="tag pull-left margin">sports</div>
                                       </div>
                                    </div>
                                </div>
                                 <div class="media" ">
                                    <div class="media-left">
                                        <a href="#">
                                        <img class="media-object" src="images/user4.png" alt="..." width="64" height="64">
                                        
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Martina</h4>
                                        Cario, Egypt
                                         <p> 
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                     </p>
                                     <div class="tags">
                                            <div class="tag pull-left">audio</div> 
                                            <div class="tag pull-left margin">documents</div> 
                                            <div class="tag pull-left margin">newcomer</div>
                                            <div class="tag pull-left margin">sports</div>
                                       </div>
                                    </div>
                                </div>
           
                        </div>
                     
                               
                </div>
        </div>