 <div class="col-lg-offset-2 col-xs-6 col-sm-3 sidebar-offcanvas sidebar-module sidebar-module-inset heroboard" id="sidebar">
                    <div class="title">Hero Board</div>
                        <div class="list-group">
                            <a href="#" class="list-group-item border-none">
                                <span class="profilepicture glyphicon glyphicon-user" aria-hidden="true"></span>
                                     <h4 class="list-group-item-heading">John Snow </h4>
                                     <p> 
                                       <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                     </p>
                            </a>
                           <a href="#" class="list-group-item border-none">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                     <h4 class="list-group-item-heading">Laura </h4>
                                     <p> 
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                     </p>
                            </a>
                           <a href="#" class="list-group-item border-none">
                                <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                                     <h4 class="list-group-item-heading">Halena</h4>
                                     <p> 
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                     </p>
                            </a>
                           <a href="#" class="list-group-item border-none">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                     <h4 class="list-group-item-heading">Batman </h4>
                                     <p> 
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                     </p>
                            </a>
                           <a href="#" class="list-group-item border-none">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                     <h4 class="list-group-item-heading">John Ali </h4>
                                     <p> 
                                       <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                        <img src="images/star.png" alt="Mountain View" >
                                     </p>
                            </a>
                        </div>
                     
                               
                </div>