        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-6 card">
                    <div class="section-wrapper">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="title">Looking for help ? </div>
                        <div style="clear:both"></div>
                        <div class="row bottom-line">
                            <div class="col-lg-4 info-tile">
                                <div class="wrapper theme-1">
                                    <div class="text-center"><img src="../images/step1.png" width="50" height="60" /></div>
                                    <h4 class="text-center">Ask for help</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 info-tile">
                                <div class="wrapper theme-1">
                                    <div class="text-center"><img src="../images/step2.png" width="50" height="60"  /></div>
                                    <h4 class="text-center">Get response</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 info-tile ">
                                <div class="wrapper theme-1">
                                    <div class="text-center"><img src="../images/step3.png" width="50" height="60"  /></div>
                                    <h4 class="text-center">Solve Your Problem</h4>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section-wrapper">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="title">Looking for Jobs ? </div>
                        <div style="clear:both"></div>
                        <div class="row">
                            <div class="col-lg-4 info-tile">
                                <div class="wrapper theme-2">
                                    <div class="text-center"><img src="../images/step4.png" width="50" height="60"  /></div>
                                    <h4 class="text-center">Got a skill</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 info-tile">
                                <div class="wrapper theme-2">
                                    <div class="text-center"><img src="../images/step5.png" width="50" height="60"  /></div>
                                    <h4 class="text-center">Help someone</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 info-tile ">
                                <div class="wrapper theme-2">
                                    <div class="text-center"><img src="../images/step6.png" width="50" height="60"  /></div>
                                    <h4 class="text-center">Get rewards</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-wrapper">
                        <div class="row bottom-buttons-section">
                            <div class="col-lg-4 link ">more info...</div>
                            <div class="col-lg-2 button pull-right">Sign Up</div>
                        </div>
                    </div>

                </div>
                <heroboard></heroboard>

            </div>
            <div class="row">
<!--                 <div class="col-lg-12 more-button">
                    <div class="text-center button morebutton">Learn More...</div>
                </div>
 -->            </div>
        </div>
