
                <center> <div class="sidebar-module">
                   <div class="col-lm-2 col-mld-2">
                        <img src="images/user1.png" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-lm-6 col-ld-1 profile-details">
                        <h4 class="name">Muazzam Ali</h4>
                         <p> 
                                <img src="images/star.png" alt="Mountain View" >
                                <img src="images/star.png" alt="Mountain View" >
                                <img src="images/star.png" alt="Mountain View" >
                                <img src="images/star.png" alt="Mountain View" >
                                <img src="images/star1.png" alt="star" >
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-envelope"></span> 10 new messages  
                            <span class="glyphicon glyphicon-user"></span> 27 people served
                            
                        </p>
                        <p>
                           <img src="images/gem.png" alt="points" width="16" height="16" /> 1000 points
                        </p>
                        <small><cite title="Karachi, Pakistan"> <i class="glyphicon glyphicon-map-marker">
                        </i>Karachi, Pakistan</cite></small>
                        <div class="tags">
                          <button type="button" class="btn btn-danger margin" >
                                students</button>
                          <button type="button" class="btn btn-danger margin">
                                newcommer</button>
                          <button type="button" class="btn btn-danger margin">
                                refugee</button>
                          <button type="button" class="btn btn-danger margin">
                                students</button>
                          <button type="button" class="btn btn-danger margin">
                                freiburg</button>
                          <button type="button" class="btn btn-danger margin">
                                company</button>
                          <span class="glyphicon glyphicon-pencil">
                        </span>
                        </div>

                    </div>
                </div>
</center>